/* default all images to display none -- will set display in javascript*/

#img1 {
  display: none;
}

#img2 {
  display: none;
}

#img3 {
  display: none;
}

#img4 {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
}

.container {
  padding: 10px;
  height: 100vh;
  background-color: rgb(30, 30, 31);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.indv-img {
  width: 85%;
  height: 100%;
  animation: myfirst 0.8s 1;
  animation-direction: normal;
}

/* buttons  prev and next*/

.prev,
.next {
  padding: 5px 20px;
  background-color: rgb(65, 65, 65);
  color: white;
  border: none;
  font-size: 2rem;
  outline: none;
}

.prev {
  margin-left: 3%;
}
.next {
  margin-right: 3%;
}

/* bttn on hover */
.prev:hover,
.next:hover {
  background-color: whitesmoke;
  color: black;
  border: none;
  outline: none;
  font-size: 2rem;
}

/* img animation */

@keyframes myfirst {
  0% {
    transform: translate(20px);
    left: 0px;
    top: 0px;
  }

  100% {
    top: 0px;
    left: 0px;
  }
}
